{% extends 'workouts/base.html' %}
{% load workouts.form_extras %}

{% block title %}Анкета{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg border-0">
                <div class="card-body">
                    <h2 class="text-center mb-4">Анкета пользователя</h2>

                    {% if messages %}
                    <div class="toast-container position-fixed top-0 end-0 p-3">
                        {% for message in messages %}
                        <div class="toast align-items-center text-bg-{{ message.tags }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="d-flex">
                                <div class="toast-body">
                                    {{ message }}
                                </div>
                                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <form method="POST">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="form-group mb-3">
                            {{ field.label_tag }}
                            {{ field|add_class:"form-control" }}
                            {% if field.errors %}
                                <div class="text-danger">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                        {% endfor %}

                        <div class="form-group mb-4 form-check">
                            {{ form.has_equipment|add_class:"form-check-input" }}
                            <label class="form-check-label" for="{{ form.has_equipment.id_for_label }}">
                                Есть оборудование?
                            </label>
                            {% if form.has_equipment.errors %}
                                <div class="text-danger">{{ form.has_equipment.errors }}</div>
                            {% endif %}
                        </div>

                        <button type="submit" class="btn btn-success w-100">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    const toastElList = [].slice.call(document.querySelectorAll('.toast'))
    const toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl, { delay: 3000 });
    });
    toastList.forEach(toast => toast.show());
</script>
{% endblock %}
